<a href="https://colab.research.google.com/github/SourabhYogi/DATA-SCIENCE/blob/main/Business_License_Project/Project_Business_License.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [82]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [397]:
train_data = pd.read_csv('/content/drive/MyDrive/CSV/train_file.csv')
train_data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,LICENSE TERM START DATE,LICENSE TERM EXPIRATION DATE,LICENSE APPROVED FOR ISSUANCE,DATE ISSUED,LICENSE STATUS CHANGE DATE,SSA,LATITUDE,LONGITUDE,LOCATION,LICENSE STATUS
0,35342-20020816,1256593,32811,1,CARMEN CAHUE,CLAUDIA'S BRIDAL SHOP,2625 S CENTRAL PARK AVE 1,CHICAGO,IL,60623.0,...,2002-08-16T00:00:00,2003-08-15T00:00:00,2002-08-21T00:00:00,2006-04-11T00:00:00,NaN,25.0,41.843613,-87.714618,"{'latitude': '41.843612879431845', 'longitude'...",AAI
1,1358463-20051116,1639294,262311,29,"ISLA TROPICAL, INC.",ISLA TROPICAL,2825 W MONTROSE AVE,CHICAGO,IL,60618,...,2005-11-16T00:00:00,2006-11-15T00:00:00,2006-04-05T00:00:00,2006-06-12T00:00:00,2006-06-15T00:00:00,60.0,41.961132,-87.699626,"{'latitude': '41.96113244107215', 'longitude':...",AAC
2,1980233-20090722,1980233,345008,1,DJS REMODELING,"DJS REMODELING, INC.",1605 CLAVEY RD 1,HIGHLAND,IL,60035,...,2009-07-22T00:00:00,2011-07-15T00:00:00,2009-07-22T00:00:00,2009-07-22T00:00:00,NaN,NaN,NaN,NaN,NaN,AAI
3,1476582-20040211,1476582,273121,1,ALL-BRY CONSTRUCTION CO.,ALL-BRY CONSTRUCTION CO.,8 NORTH TRAIL,LEMONT,IL,60439,...,2004-02-11T00:00:00,2005-02-15T00:00:00,2004-02-10T00:00:00,2004-02-11T00:00:00,NaN,NaN,NaN,NaN,NaN,AAI
4,1141408-20080516,1896750,213785,1,MCDONOUGH MECHANICAL SERVICE,MCDONOUGH MECHANICAL SERVICE,4081 JOSEPH DR,WAUKEGAN,IL,60087,...,2008-05-16T00:00:00,2010-05-15T00:00:00,2008-06-04T00:00:00,2008-06-05T00:00:00,NaN,NaN,NaN,NaN,NaN,AAI

In [398]:
train_data.shape

(85895, 32)

In [399]:
test_data = pd.read_csv("/content/drive/MyDrive/CSV/test_file.csv")
test_data.head()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,CONDITIONAL APPROVAL,LICENSE TERM START DATE,LICENSE TERM EXPIRATION DATE,LICENSE APPROVED FOR ISSUANCE,DATE ISSUED,LICENSE STATUS CHANGE DATE,SSA,LATITUDE,LONGITUDE,LOCATION
0,1516615-20120216,2132209,280120,1,RS HOMES I LLC,RS HOMES I LLC,350 W HUBBARD ST 3 300,CHICAGO,IL,60610.0,...,N,2012-02-16T00:00:00,2014-02-15T00:00:00,2012-01-19T00:00:00,2012-01-20T00:00:00,2012-12-29T00:00:00,NaN,41.890047,-87.637467,"{'latitude': '41.89004724888915', 'longitude':..."
1,69813-20110616,2090759,65043,1,CSX INTERMODAL INC,CSX INTERMODAL,2101 W 59TH ST 1ST,CHICAGO,IL,60636.0,...,N,2011-06-16T00:00:00,2013-06-15T00:00:00,2012-11-02T00:00:00,2012-11-05T00:00:00,2012-12-29T00:00:00,NaN,41.786485,-87.676665,"{'latitude': '41.786485235679486', 'longitude'..."
2,1519227-20041116,1541990,281270,1,LOCOMIBILE LOFTS LLC,LOCOMOBILE LOFTS LLC,1133 S WABASH AVE 1ST,CHICAGO,IL,60605.0,...,N,2004-11-16T00:00:00,2005-11-15T00:00:00,2004-12-06T00:00:00,2004-12-07T00:00:00,NaN,NaN,41.868269,-87.625695,"{'latitude': '41.86826924843568', 'longitude':..."
3,1922025-20100816,2041053,335243,1,ANNA F. JAMISON,ANNA F. JAMISON,13156 S FORRESTVILLE AVE,CHICAGO,IL,60827.0,...,N,2010-08-16T00:00:00,2012-08-15T00:00:00,NaN,2010-11-04T00:00:00,2012-12-31T00:00:00,NaN,41.655762,-87.608686,"{'latitude': '41.65576175146191', 'longitude':..."
4,1675683-20070816,1837158,283018,3,MARINCA A. COVARRUBIAS,DETAILS,4208 S ARCHER AVE,CHICAGO,IL,60632.0,...,N,2007-08-16T00:00:00,2009-06-15T00:00:00,2007-08-15T00:00:00,2007-08-16T00:00:00,2008-03-26T00:00:00,39.0,41.816969,-87.699785,"{'latitude': '41.81696910012824', 'longitude':..."

In [400]:
test_data.shape

(57239, 31)

In [402]:
## Checking null values

train_data.isna().sum()

ID                                       0
LICENSE ID                               0
ACCOUNT NUMBER                           0
SITE NUMBER                              0
LEGAL NAME                               0
DOING BUSINESS AS NAME                   1
ADDRESS                                  0
CITY                                     0
STATE                                    0
ZIP CODE                                31
WARD                                 49701
PRECINCT                             56701
WARD PRECINCT                        49700
POLICE DISTRICT                      54012
LICENSE CODE                             0
LICENSE DESCRIPTION                      0
LICENSE NUMBER                           1
APPLICATION TYPE                         0
APPLICATION CREATED DATE             64660
APPLICATION REQUIREMENTS COMPLETE      214
PAYMENT DATE                          1289
CONDITIONAL APPROVAL                     0
LICENSE TERM START DATE                228
LICENSE TERM EXPIRATION DATE            18
LICENSE APPROVED FOR ISSUANCE         6789
DATE ISSUED                              0
LICENSE STATUS CHANGE DATE           55400
SSA                                  76446
LATITUDE                             47246
LONGITUDE                            47246
LOCATION                             47246
LICENSE STATUS                           0
dtype: int64

In [403]:
test_data.isna().sum()

ID                                       0
LICENSE ID                               0
ACCOUNT NUMBER                           0
SITE NUMBER                              0
LEGAL NAME                               0
DOING BUSINESS AS NAME                   2
ADDRESS                                  0
CITY                                     0
STATE                                    0
ZIP CODE                                12
WARD                                   626
PRECINCT                              1578
WARD PRECINCT                          616
POLICE DISTRICT                       1475
LICENSE CODE                             0
LICENSE DESCRIPTION                      0
LICENSE NUMBER                           0
APPLICATION TYPE                         0
APPLICATION CREATED DATE             44587
APPLICATION REQUIREMENTS COMPLETE      428
PAYMENT DATE                          1051
CONDITIONAL APPROVAL                     0
LICENSE TERM START DATE                118
LICENSE TERM EXPIRATION DATE             6
LICENSE APPROVED FOR ISSUANCE         2379
DATE ISSUED                              0
LICENSE STATUS CHANGE DATE           23246
SSA                                  41331
LATITUDE                               910
LONGITUDE                              910
LOCATION                               910
dtype: int64

In [404]:
train_data.nunique()

ID                                   85895
LICENSE ID                           85895
ACCOUNT NUMBER                       38897
SITE NUMBER                            177
LEGAL NAME                           38744
DOING BUSINESS AS NAME               41686
ADDRESS                              42146
CITY                                  1223
STATE                                   54
ZIP CODE                              2456
WARD                                    50
PRECINCT                                76
WARD PRECINCT                         2383
POLICE DISTRICT                         28
LICENSE CODE                           106
LICENSE DESCRIPTION                    106
LICENSE NUMBER                       49768
APPLICATION TYPE                         5
APPLICATION CREATED DATE              2899
APPLICATION REQUIREMENTS COMPLETE     3078
PAYMENT DATE                          4356
CONDITIONAL APPROVAL                     2
LICENSE TERM START DATE               2825
LICENSE TERM EXPIRATION DATE           297
LICENSE APPROVED FOR ISSUANCE         4223
DATE ISSUED                           3498
LICENSE STATUS CHANGE DATE            3152
SSA                                     53
LATITUDE                             21386
LONGITUDE                            21388
LOCATION                             21388
LICENSE STATUS                           5
dtype: int64

In [405]:
## Dropping columns which will be of no use for our model

col_list = ['APPLICATION CREATED DATE', 'SSA', 'LICENSE ID', 'ADDRESS', 'ID', 'LOCATION']

train_data = train_data.drop(col_list, axis=1)
test_data = test_data.drop(col_list, axis=1)

In [406]:
## Filling Na Values

train_data['LATITUDE'].fillna(train_data['LATITUDE'].mean(), inplace=True)

In [407]:
test_data['LATITUDE'].fillna(test_data['LATITUDE'].mean(), inplace=True)

In [408]:
train_data['LONGITUDE'].fillna(train_data['LONGITUDE'].mean(), inplace=True)

In [409]:
test_data['LONGITUDE'].fillna(test_data['LONGITUDE'].mean(), inplace=True)

In [410]:
train_data['LEGAL NAME'].fillna(method='ffill')

0                          CARMEN CAHUE
1                   ISLA TROPICAL, INC.
2                        DJS REMODELING
3              ALL-BRY CONSTRUCTION CO.
4          MCDONOUGH MECHANICAL SERVICE
                      ...
85890             UNITED PARCEL SERVICE
85891    EXPRESS BOARD UP SERVICE, INC.
85892                  ARAMARK SMMS LLC
85893     GENERAL NUTRITION CORPORATION
85894                 JUAN CARLOS ERAZO
Name: LEGAL NAME, Length: 85895, dtype: object

In [411]:
test_data['LEGAL NAME'].fillna(method='ffill')

0                           RS HOMES I LLC
1                       CSX INTERMODAL INC
2                    LOCOMIBILE  LOFTS LLC
3                          ANNA F. JAMISON
4                   MARINCA A. COVARRUBIAS
                       ...
57234    GOODHEALTH MEDICAL PRODUCTS, INC.
57235                        INTERPARK LLC
57236                        YUN HEE HWANG
57237         D. C. A. TOWING INCORPORATED
57238                        maria t bedoy
Name: LEGAL NAME, Length: 57239, dtype: object

In [412]:
train_data['DOING BUSINESS AS NAME'].fillna(method='ffill')

0                 CLAUDIA'S BRIDAL SHOP
1                         ISLA TROPICAL
2                  DJS REMODELING, INC.
3              ALL-BRY CONSTRUCTION CO.
4          MCDONOUGH MECHANICAL SERVICE
                      ...
85890             UNITED PARCEL SERVICE
85891    EXPRESS BOARD UP SERVICE, INC.
85892         ARAMARK FACILITY SERVICES
85893     GENERAL NUTRITION CENTER # 61
85894           CASA DE JUAN RESTAURANT
Name: DOING BUSINESS AS NAME, Length: 85895, dtype: object

In [413]:
test_data['DOING BUSINESS AS NAME'].fillna(method='ffill')

0                           RS HOMES I LLC
1                           CSX INTERMODAL
2                     LOCOMOBILE LOFTS LLC
3                          ANNA F. JAMISON
4                                  DETAILS
                       ...
57234    GOODHEALTH MEDICAL PRODUCTS, INC.
57235                            INTERPARK
57236                         TOP CLEANERS
57237         D. C. A. TOWING INCORPORATED
57238             mari's cleaning services
Name: DOING BUSINESS AS NAME, Length: 57239, dtype: object

In [414]:
## Converting into date time dt

def conv_date(date_list):
    for i in date_list:
        train_data[i] = pd.to_datetime(train_data[i])
        test_data[i] = pd.to_datetime(test_data[i])

In [415]:
date_list = ['APPLICATION REQUIREMENTS COMPLETE', 'PAYMENT DATE', 'LICENSE TERM EXPIRATION DATE', 'LICENSE TERM START DATE',
             'DATE ISSUED', 'LICENSE APPROVED FOR ISSUANCE', 'LICENSE STATUS CHANGE DATE']
conv_date(date_list)

In [416]:
## To extract only the year of columns

def get_year(colname, dfcolname):
    train_data[colname] = train_data[dfcolname].apply(lambda x:x.year)
    test_data[colname] = test_data[dfcolname].apply(lambda x:x.year)
def get_month(colname, dfcolname):
    train_data[colname] = train_data[dfcolname].apply(lambda x:x.month)
    test_data[colname] = test_data[dfcolname].apply(lambda x:x.month)

In [417]:
## Extracting year & month and saving them in new column

get_year('PAYMENT YEAR', 'PAYMENT DATE')
get_month('PAYMENT MONTH', 'PAYMENT DATE')
get_year('APPLICATION REQUIREMENTS COMPLETE YEAR', 'APPLICATION REQUIREMENTS COMPLETE')
get_year('DATE ISSUED YEAR', 'DATE ISSUED')
get_year('LICENSE TERM EXPIRATION YEAR', 'LICENSE TERM EXPIRATION DATE')
get_year('LICENSE TERM START YEAR', 'LICENSE TERM START DATE')
get_year('LICENSE APPROVED YEAR', 'LICENSE APPROVED FOR ISSUANCE')
get_year('LICENSE STATUS CHANGE YEAR', 'LICENSE STATUS CHANGE DATE')

In [418]:
## Filling Na Values for these columns

# Function

def round_mean(mean_list):
    for i in mean_list:
        train_data[i] = train_data[i].fillna(round(train_data[i].mean()))
        test_data[i] = test_data[i].fillna(round(test_data[i].mean()))

In [419]:
mean_list = ['LICENSE TERM EXPIRATION YEAR', 'LICENSE TERM START YEAR', 'PAYMENT YEAR', 'LICENSE APPROVED YEAR',
                 'APPLICATION REQUIREMENTS COMPLETE YEAR', 'LICENSE STATUS CHANGE YEAR']
round_mean(mean_list)

In [420]:
## Creating a new column with license validity, i.e. difference of license start and license expiratiom

train_data['LICENSE_VALIDITY'] = abs(train_data['LICENSE TERM EXPIRATION YEAR'] - train_data['LICENSE TERM START YEAR'])

In [421]:

test_data['LICENSE_VALIDITY'] = abs(test_data['LICENSE TERM EXPIRATION YEAR'] - test_data['LICENSE TERM START YEAR'])

In [422]:
## dropping the unusefull columns

col_list = ['PAYMENT DATE', 'APPLICATION REQUIREMENTS COMPLETE', 'LICENSE TERM EXPIRATION DATE', 'DATE ISSUED', 
            'LICENSE TERM EXPIRATION YEAR', 'LICENSE TERM START DATE', 'LICENSE TERM START YEAR', 
            'LICENSE APPROVED FOR ISSUANCE', 'LICENSE STATUS CHANGE DATE','DOING BUSINESS AS NAME', 'LEGAL NAME']

train_data = train_data.drop(col_list, axis=1)
test_data = test_data.drop(col_list, axis=1)

In [423]:
## Nill values

def impute_nil(imp_nil_list):
    for i in imp_nil_list:
        train_data[i] = train_data[i].fillna(0)
        test_data[i] = test_data[i].fillna(0)

In [424]:
imp_nil_list = ['WARD', 'PRECINCT', 'POLICE DISTRICT', 'PAYMENT MONTH', 'WARD PRECINCT', 'LICENSE NUMBER']
impute_nil(imp_nil_list)

In [425]:
## Zip Code

train_data['ZIP CODE']=train_data['ZIP CODE'].fillna('None')

In [426]:

test_data['ZIP CODE']=test_data['ZIP CODE'].fillna('None')

In [427]:
## ENCODING THE DATA

train_data["LICENSE STATUS"] = train_data["LICENSE STATUS"].replace('AAI', 0)
train_data["LICENSE STATUS"] = train_data["LICENSE STATUS"].replace('AAC', 1)
train_data["LICENSE STATUS"] = train_data["LICENSE STATUS"].replace('REV', 2)
train_data["LICENSE STATUS"] = train_data["LICENSE STATUS"].replace('REA', 3)
train_data["LICENSE STATUS"] = train_data["LICENSE STATUS"].replace('INQ', 4)

In [428]:

X=train_data.drop('LICENSE STATUS',axis=1)
y=train_data['LICENSE STATUS']

X_encoded=pd.get_dummies(X,drop_first=True)

In [429]:
X_encoded.shape

(85895, 6240)

In [430]:
test_data =pd.get_dummies(test_data, drop_first=True)

In [431]:
test_data.shape

(57239, 3398)

In [432]:
## Train_test_split

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_encoded,y, test_size = 0.25, random_state = 42)

In [433]:
# Gaussian Naive Bayes

from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

model.fit(X_train,y_train)

GaussianNB()

In [434]:
y_pred = model.predict(X_test)

In [435]:
model.score(X_test,y_test)

0.7592437366117165

In [436]:
## Classification Report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.83      0.80      0.81     13772
           1       0.65      0.70      0.67      7634
           2       0.08      0.01      0.03        67
           3       0.00      0.00      0.00         1

    accuracy                           0.76     21474
   macro avg       0.39      0.38      0.38     21474
weighted avg       0.76      0.76      0.76     21474

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))