<a href="https://colab.research.google.com/github/SourabhYogi/DATA-SCIENCE/blob/main/Dictionaries_and_OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Dictionary**

---



* 
Dict =    {
            'A':"Sourabh,
            'B':"Ritik"
          }

In [ ]:
dict1={ 'a':"Vaibhav",
        "B": "Ritik",
        1 : 'Sourabh' }

In [ ]:
dict1

{1: 'Sourabh', 'B': 'Ritik', 'a': 'Vaibhav'}

In [ ]:
dict1[4]=1234

In [ ]:
dict1

{1: 'Sourabh', 4: 1234, 'B': 'Ritik', 'a': 'Vaibhav'}

In [ ]:
dict1[1][1]

'o'

In [ ]:
dict1[2]=(1,2,3)

In [ ]:
type(dict1[2])

tuple

In [ ]:
dict1[3]=[1,2,3,4,5]

In [ ]:
type(dict1[3])

list

In [ ]:
dict1

{1: 'Sourabh',
 2: (1, 2, 3),
 3: [1, 2, 3, 4, 5],
 4: 1234,
 'B': 'Ritik',
 'a': 'Vaibhav'}

In [ ]:
dict1[3][0]

1

In [ ]:
dict1[5]={'a':'yogi','b':'balyan'}

In [ ]:
dict1[5]['a']

'yogi'

In [ ]:
dict1

{1: 'Sourabh',
 2: (1, 2, 3),
 3: [1, 2, 3, 4, 5],
 4: 1234,
 5: {'a': 'yogi', 'b': 'balyan'},
 'B': 'Ritik',
 'a': 'Vaibhav'}

In [ ]:
dict1[6]={'a','b','c','d',"Yogi"}

In [ ]:
type(dict1[6])

set

In [ ]:
dict1

{1: 'Sourabh',
 2: (1, 2, 3),
 3: [1, 2, 3, 4, 5],
 4: 1234,
 5: {'a': 'yogi', 'b': 'balyan'},
 6: {'a', 'b', 'c', 'd'},
 'B': 'Ritik',
 'a': 'Vaibhav'}

In [ ]:
dict1[6]

{'Yogi', 'a', 'b', 'c', 'd'}

In [ ]:
dict1[3][1]="Yogi"

In [ ]:
dict1

{1: 'Sourabh',
 2: (1, 2, 3),
 3: [1, 'Yogi', 3, 4, 5],
 4: 1234,
 5: {'a': 'yogi', 'b': 'balyan'},
 6: {'Yogi', 'a', 'b', 'c', 'd'},
 'B': 'Ritik',
 'a': 'Vaibhav'}

In [ ]:
del dict1[3][1]

In [ ]:
dict1

{1: 'Sourabh',
 2: (1, 2, 3),
 3: [1, 3, 4, 5],
 5: {'a': 'yogi', 'b': 'balyan'},
 6: {'Yogi', 'a', 'b', 'c', 'd'},
 'B': 'Ritik',
 'a': 'Vaibhav'}

In [ ]:
del dict1[5]['a']

In [ ]:
del dict1[5]

In [ ]:
dict1

{1: 'Sourabh', 2: (1, 2, 3), 3: [1, 3, 4, 5], 'B': 'Ritik', 'a': 'Vaibhav'}

In [ ]:
del dict1[2 and 3]

In [ ]:
dict1

{1: 'Sourabh', 2: (1, 2, 3), 'B': 'Ritik', 'a': 'Vaibhav'}

In [ ]:
del dict1[2]

In [ ]:
dict1

{1: 'Sourabh', 'B': 'Ritik', 'a': 'Vaibhav'}

In [ ]:
dict1.keys()

dict_keys(['a', 'B', 1])

In [ ]:
dict2={ 1:'Yogi',
       2:'Baliyan',
       3:'Gupta'
       }

In [ ]:
dict2

{1: 'Yogi', 2: 'Baliyan', 3: 'Gupta'}

In [ ]:

for key,value in dict2.items():
  
      if value == 'Gupta':
            del dict2[key]
            break

In [ ]:
dict2

{1: 'Yogi', 2: 'Baliyan'}

In [ ]:
dict3={ 'A': 1,
       `'B': [1,2,3],
       `'C': 'Yogi'
}

In [ ]:
for i in dict3.items():
  print(i)

('A', 1)
('B', [1, 2, 3])
('C', 'Yogi')

In [ ]:
for i in zip(dict3.keys(),dict3.values()):
  print(i)

('A', 1)
('B', [1, 2, 3])
('C', 'Yogi')

In [ ]:
number= int(input("Enter Your Number:"))
dict4={}
for i in range (1,number+1): 
  dict4[i]=i*i
dict4

Enter Your Number:4

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
number= int (input())
dict5={i:i*i for i in range(1, number+1)}

dict5

8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

##Input In Python
 * String
 * Integer

In [ ]:
string= str(input("My Name Is:"))

My Name Is:Sourabh Yogi

In [ ]:
Num1= int(input())
Num1

25

25

##Programme to print sum of dictionary values and keys

In [ ]:
#Sum of Values
 dict7={i:i*i for i in range (1,10)}
 print(dict7)
 sum(dict7.values())

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

285

In [ ]:
 #Sum of Keys
 dict7={i:i*i for i in range (1,10)}
 print(dict7)
 sum(dict7.keys())

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

45

In [ ]:
#Sum of Both
dict7={i:i*i for i in range (1,10)}
print(dict7)
sum1=sum(dict7.values())
sum2=sum(dict7.keys())
print(sum1,"$",sum2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
285 $ 45

#Dictionary Functions

  * Clear()    : Removes all the elements from the dictionary
  * Copy()     : Returns a copy of the dictionary
  * fromkeys() : Returns a dictionary with the specified keys and value
  * get()	     : Returns the value of the specified key
  * items()    : Returns a list containing a tuple for each key value pair
  * keys()	   : Returns a list containing the dictionary's keys
  * pop()	     : Removes the element with the specified key
  * popitem()	 : Removes the last inserted key-value pair
  * setdefault() : Returns the value of the specified key.If the key does  not exist: insert the key, with the specified value
  * update()	 : Updates the dictionary with the specified key-value pairs
  * values()	 : Returns a list of all the values in the dictionary

In [ ]:
dict11=dict(A ='Y', B='O', C='G', D='I')
dict11

{'A': 'Y', 'B': 'O', 'C': 'G', 'D': 'I'}

#TRY, EXCEPT, FINALLY

In [ ]:
try:
  a=5
  b=10
  c=a/0                 ##It'll give zero division error, so to avoid the error the next code in except statement will run
  print('thara bhai')
except:
  print("nhi hoga")
else:
  print('else wala hoga' )
finally:
  print('ye to print hoga hi')

nhi hoga
ye to print hoga hi

In [ ]:
try:
  a=5
  b=10
  c=b//a                        ##now this statement is right so it'll be executed with no problem
  print(c)
  print('thara bhai')
except:
  print("nhi hoga")
else:
  print('else wala hoga' )
finally:
  print('ye to print hoga hi')

2
thara bhai
else wala hoga
ye to print hoga hi

In [ ]:
try:
  a=5
  b=10
  pint(a)                         ##This will give error, so this will be avoided
  print('thara bhai')
except:
  print("nhi hoga")
else:
  print('else wala hoga' )
finally:
  print('ye to print hoga hi')

nhi hoga
ye to print hoga hi

#Object Oriented Programming (OOPs)

## %  Class

In [ ]:
class Phone1:                                       ##The forst word of class name is in Caps
  a=10
  b=5
  def video(self):                                  ##This def is must to make a function. : self is a word that makes the function accessible, 
    print('The phone has video call feature')       ## We can use any othwe word instead of self here
    print(self.a) 
     
p1=Phone1()                                         ## To store the class in object p1

In [ ]:
p1.a                                                   ## Accessing the a variable of class

10

In [ ]:
p1.video()                                             ## Accessing the function video() of the class

The phone has video call feature
10

In [ ]:
class Phone3:                                         
    def __init__(yogi, RAM, Colour):         ## __init__ is a predefined keyword that is used to take variable by the users      
      yogi.ram=RAM                           ## i.e. variables that are not assigned a value like a=10 etc(here I've taken yogi instead of self)
      yogi.c=Colour                          ## Here ram and c are the variables that store input value fron user 
    def print(self):
      print("the phone has " + self.ram + " RAM and colour is " + self.c)

In [ ]:
p3=Phone3("12GB","Black")

the phone has 12GB RAM and colour is Black

the phone has 12GB RAM and colour is Black